
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: orange;
}

ul {
    margin: 0;
}

#page-container{
  max-width: 1024px;
  margin: auto;
  background-color: white;
  min-height: 600px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid black;
}

#banner {
  height: 48px;
  padding: 0px;
  color: white;
  background-color: black;
}

#app-icon {
  float: left;
  height: 47px;
  width: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(img/AppIcon.png);
}

#app-title {
  display: flex;
  align-items: center;
  margin-left: 48px;
  height: 48px;
  padding-left: 16px;
  font-size: 24px;
}

#top-nav {
  float: right;
  height: 48px;
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-right: 16px;
  padding-left: 0px;
}

  #top-nav ul {
    line-height: 1em;
    margin-bottom: 0px;
  }


  #top-nav ul li {
    display: inline-block;
    margin-right: 4px;
    color: #FEBF0F;
  }

    #top-nav li a, #top-nav li a:visited, #top-nav li a:active {
      color: #FEBF0F;
      text-decoration: none;
    }


#content-body {
  padding: 24px;
}

#quote-container {
  margin: 12px;
  border: 1px solid #aaa;
  border-radius: 8px;
  background-color: #eee;
  padding: 24px;
  padding-bottom: 12px;
}

#quote {
  font-size: 36px;
  font-style: italic;
  color: darkblue;
}

#author {
  font-size: 24px;
  border-top: 1px solid #888;
  color: #888;
  padding-top: 4px;
  margin-top: 18px;
  font-weight: bold;
}