
<div class="jumbotron">

  <h2>@ViewBag.Title</h2>

  <div class="lead">@ViewBag.Message</div>

  <p style="margin-top:24px;" >Power BI API Version: <span style="font-size:12px;font-weight: bold;color:darkblue">@ViewBag.PBI_API_VERSION</span></p>

</div>

